body{
      text-align: center;
      font-family: 'outfit', sans-serif;
      background-color:#D6E2F0;
      background-color: hsl(212, 45%, 89%);
      margin: 0;
      padding: 5%;
}
.qr-card{
      width: 16em;
      margin:50px auto 50px auto;
      background-color: #FFFFFF;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
}
.qr-img{
      width: 93%;
      border-radius: 10px;
      margin-top: 10px;
}
.qr-text{
      font-size: 1rem;
      font-weight: 700;
      width: 80%;
      margin: 10px auto;
}
.qr-p{
      color: #7B879D;
  color: hsl(220, 15%, 55%);
  font-size: 0.75rem;
  font-weight: 400;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}
.attribution a {
      color: #3E52A3;
      color: hsl(228, 45%, 44%);
     }
    
    .attribution {
      font-size: 11px;
      text-align: center;
    }    